html {height:auto;}
body {height:auto; background:#2D3451;}

/*HEADER*/
div#header {position:absolute; left:0; right:0; top:0; height:164px; background:url('/images/header_bkg.png') repeat-x 0 0; z-index:50;}
div#header span.end_left {position:absolute; left:0; top:0; width:10px; height:20px; background:url('/images/end_left.jpg') no-repeat 0 0;}
div#header span.end_right {position:absolute; right:0; top:0; width:10px; height:20px; background:url('/images/end_right.jpg') no-repeat 0 0;}
div#header div.left {float:left; width:320px;}
div#header div.left h1 {margin:17px 0 0 19px; font:normal 25px "Officina Bold"; text-shadow:0 1px #371530; color:white;}
div#header div.left form {position:relative; display:inline-block; width:262px; height:32px; margin:10px 0 0 19px; overflow:hidden;}
div#header div.left form input.text {float:right; width:248px; height:15px; margin:0; padding:9px 7px 8px; background:url('/images/search_bkg.png') no-repeat 0 0; border:none; font:normal 15px "Officina Regular";
  color:#CCCCCC; line-height:15px;}
div#header div.left form input.submit {position:absolute; right:5px; top:4px; width:25px; height:25px; border:none; background:url('/images/lens.png') no-repeat 0 0;}
div#header div.left form input.submit:hover {background-position:0 -25px; cursor:pointer;}
div#header div.left form input.submit:focus {outline:none; background-position:0 -25px;}
div#header div.left form input.text:focus {outline:none; color:#333333;}
div#header div.left div.search_error {position:absolute; display:none; top:76px; left:36px; width:182px; height:114px; padding:35px 21px 21px 21px; background:url('/images/error_tooltip_bkg.png') no-repeat 0 0; z-index:50;}
div#header div.left div.search_error h5 {font:normal 15px "Officina Regular"; color:#000000; line-height:15px; text-shadow:0 1px white;}
div#header div.left div.search_error p {padding:10px 0 0 0; font:normal 12px Arial; color:#999999; text-shadow:0 1px white;}
div#header div.left div.search_error a.close {float:right; width:56px; height:13px; margin:7px 0 0 0; padding:9px 0 10px; background:url('/images/close_bkg.png') no-repeat 0 0; font:normal 13px "Officina Regular"; color:#333333;
  text-align:center; line-height:13px; text-decoration:none;}
div#header div.left div.search_error a.close:hover {color:black; background-position:0 -32px;}
div#header div.right {float:right; width:650px;}
div#header div.right div.share {float:right; width:100%; height:24px; margin:20px 0 0 0;}
div#header div.right div.share div.outer_share {float:right; width:144px!important; height:24px; padding:0; margin:0 15px 0 0; background:url('/images/share_bkg.png') no-repeat 0 0;}
div#header div.right div.share div.outer_share p {float:left; width:64px; height:19px; padding:5px 0 0 7px; font:normal 13px "Officina Bold"; color:white; text-shadow:0 1px #371530; line-height:13px;}
div#header div.right div.share div.outer_share a.facebook {float:left; width:22px; height:22px; margin:1px 2px 0 0; background:url('/images/share_icons.png') no-repeat 2px 0; overflow: hidden; text-indent:-9999%; font-size:0; display:block; line-height:0}
div#header div.right div.share div.outer_share a.facebook:hover {background-position:2px -21px; cursor:pointer;}
div#header div.right div.share div.outer_share a.twitter {float:left; width:22px; height:22px; margin:1px 2px 0 0; background:url('/images/share_icons.png') no-repeat right 0; overflow: hidden; text-indent:-9999%; font-size:0; display:block; line-height:0}
div#header div.right div.share div.outer_share a.twitter:hover {background-position:right -21px; cursor:pointer;}
div#header div.right div.share div.outer_share p.total {float:left; width:23px; margin:0; padding:6px 0 0 0; text-align:center; font:bold 11px Arial; color:#A5A5A5; text-shadow:0 1px white; line-height:11px;}

div#header div.right div.selects {display:inline; float:right; width:auto; height:50px; margin:5px 7px 0 0!important;}
div#header div.right div.selects div.select {position:relative; float:right;}
div#header div.right div.selects div.select div.outer_select {position:relative; float:left; width:auto; height:50px; padding:0 0 0 50px; background:url('/images/select_left.png') no-repeat 0 0;}
div#header div.right div.selects div.select.selected div.outer_select {background-position:0 -97px;}
div#header div.right div.selects div.select div.outer_select img {position:absolute; left:20px; top:18px; z-index:10;}
div#header div.right div.selects div.select div.outer_select.chat img {left:23px;}
div#header div.right div.selects div.select div.outer_select.money img {left:23px;}
div#header div.right div.selects div.select div.outer_select.people img {left:23px;}

div#header div.right div.selects div.select div.outer_select span.icon {position:absolute; top: 10px; left:13px; height:32px; width:32px;}
div#header div.right div.selects div.select div.outer_select.money span.icon {background:url('/images/money.png') no-repeat center;}
div#header div.right div.selects div.select div.outer_select.chat span.icon {background:url('/images/chat.png') no-repeat center;}
div#header div.right div.selects div.select div.outer_select.people span.icon {background:url('/images/people.png') no-repeat center;}

div#header div.right div.selects div.select div.outer_select span.inner_select {float:left; width:auto; height:15px; padding:17px 38px 18px 10px; background:url('/images/select_right.png') no-repeat right 0;}
div#header div.right div.selects div.select.selected div.outer_select span.inner_select {background-position:right -97px;}
div#header div.right div.selects div.select div.outer_select:hover {background-position:0 -49px; cursor:pointer;}
div#header div.right div.selects div.select div.outer_select:hover span.inner_select a {color:white;}
div#header div.right div.selects div.select div.outer_select:hover span.inner_select {background-position:right -49px;}
div#header div.right div.selects div.select div.outer_select span a {font:normal 15px "Officina Regular"; color:#DDCAD8; text-shadow:0 1px #371530; text-decoration:none; line-height:15px;}
div#header div.right div.selects div.select.selected div.outer_select span a {color:white;}
div#header div.right div.selects div.select div.option_list {position:absolute; display:none; top:0; left:-2px; width:198px; z-index:50;}
div#header div.right div.selects div.select.opened div.option_list {display:block;}
div#header div.right div.selects div.select div.option_list div.top {width:100%; height:11px; background:url('/images/top_list_select.png') no-repeat 0 0;}
div#header div.right div.selects div.select div.option_list div.bottom {width:100%; height:auto; padding:3px 0 21px 0; background:url('/images/bottom_list_select.png') no-repeat 0 bottom;}
div#header div.right div.selects div.select div.option_list div.bottom ul {padding:5px 0 0 0;}
div#header div.right div.selects div.select div.option_list div.bottom ul li {padding:0 0 5px 16px;}
div#header div.right div.selects div.select div.option_list div.bottom ul li.selected {background:url('/images/selected_arrows.png') no-repeat 170px 4px;}
div#header div.right div.selects div.select div.option_list div.bottom ul li a {padding:0 0 0 45px; font:normal 15px "Officina Regular"; color:#666666; text-shadow:0 1px white; text-decoration:none;}
div#header div.right div.selects div.select div.option_list div.bottom ul li a:hover {color:#333333;}
div#header div.right div.selects div.select div.option_list div.bottom ul li.selected a {color:#CCCCCC; background:url('/images/grey_select_icons.png') no-repeat 6px 1px;}
div#header div.right div.selects div.select div.option_list.money div.bottom ul li.selected a {color:#CCCCCC; background:url('/images/grey_select_icons.png') no-repeat 6px -32px;}
div#header div.right div.selects div.select div.option_list.chat div.bottom ul li.selected a {color:#CCCCCC; background:url('/images/grey_select_icons.png') no-repeat 6px -64px;}
div#header div.right div.selects div.select div.option_list.people div.bottom ul li.selected a {color:#CCCCCC; background:url('/images/grey_select_icons.png') no-repeat 6px 0px;}

div#header div.right {}


/*YEARS SLIDER*/
div#header div.years_content {position:absolute; bottom:20px; left:15px; right:20px;  height:34px; z-index:10;}
div#header div.years_content a.action {display:inline-block; width:33px; height:34px; background:url('/images/play_stop.png') no-repeat 0 0; overflow: hidden; text-indent:-9999%; font-size:0; display:block; line-height:0}
div#header div.years_content a.action.play:hover {background-position:-31px 0;}
div#header div.years_content a.action.stop {background-position:-25px 0;}
div#header div.years_content a.action.stop:hover {background-position:-25px -22px;}
div#header div.years_content div.slider_bkg {position:absolute; right:0; left:60px; top:15px; bottom:0; height:9px; padding:0 0 0 4px; background:url('/images/big_slider_left.png') no-repeat 0 0; z-index:0;}
div#header div.years_content div.slider_bkg span.slider_right {float:left; width:100%; height:9px; background:url('/images/big_slider_right.png') no-repeat right 0;}
div#header div.years_content div.slider_bkg span.tick_1 {position:absolute; top:-3px; left:17%; width:2px; height:14px; background:url('/images/tick.png') no-repeat 0 0;}
div#header div.years_content div.slider_bkg span.tick_2 {position:absolute; top:-3px; left:33%; width:2px; height:14px; background:url('/images/tick.png') no-repeat 0 0;}
div#header div.years_content div.slider_bkg span.tick_3 {position:absolute; top:-3px; left:49%; width:2px; height:14px; background:url('/images/tick.png') no-repeat 0 0;}
div#header div.years_content div.slider_bkg span.tick_4 {position:absolute; top:-3px; left:66%; width:2px; height:14px; background:url('/images/tick.png') no-repeat 0 0;}
div#header div.years_content div.slider_bkg span.tick_5 {position:absolute; top:-3px; left:82%; width:2px; height:14px; background:url('/images/tick.png') no-repeat 0 0;}
div#header div.years_content div.year_slider {position:absolute; right:20px; left:70px; top:8px; bottom:0; height:9px; z-index:10;}
div#header div.years_content .ui-slider { position: relative; text-align: left;}
div#header div.years_content .ui-slider .ui-slider-handle { position: absolute; z-index: 20; width:1.2em!important; height:1.2em!important; cursor: default;}
div#header div.years_content .ui-slider .ui-slider-handle
div#header div.years_content .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
div#header div.years_content .ui-slider-horizontal {height:9px;}
div#header div.years_content .ui-slider-horizontal .ui-slider-handle {top:0; margin-left:-39px; height:19px!important; width:68px!important; padding:4px 10px 0 0; background:url('/images/big_slider_handle.png') no-repeat 0 0; font:normal 11px Arial;
  color:#59204D; text-align:right; text-decoration:none;}
div#header div.years_content .ui-slider-horizontal .ui-slider-range {top:0; height:100%;}
div#header div.years_content .ui-slider-horizontal .ui-slider-range-min {left:0px;}
div#header div.years_content .ui-slider-horizontal .ui-slider-range-max {right:0px;}
div#header div.years_content .ui-slider-horizontal .ui-state-focus {cursor:move;}
div#header div.years_content .ui-slider-horizontal .ui-state-active {cursor:move;}



/*APPLICATION TABS*/
div.tabs {position:absolute; left:0; right:0; top:148px; bottom:0; width:100%;}
div.tabs div#map {position:absolute; left:0; right:0; top:0; bottom:0; width:100%; background:#9ab5cc; z-index:10;}
div.tabs div#map div#peninsula {float:left; width:100%; height:100%; z-index:1;}
/*div.tabs div#map div#canary_island {position:absolute; right:0; bottom:0; width:300px; height:160px; border-top:1px solid black; border-left:1px solid black; border-right:none; z-index:2;}*/
/*div.tabs div#map div#canary_island.left {left:0; right:none; border-left:none; border-right:1px solid black;}*/
div.tabs div#graph {position:absolute; left:0; right:0; top:0; bottom:0; width:100%; background: #cccccc; z-index:0;}
div.tabs div#graph div#graph_container {position:absolute; left:50%; top:40px; width:1024px; height:580px; margin:0 0 0 -512px; background:url('/images/graph_bkg.jpg'); z-index:0;}
/*graph*/
div.bubbleContainer{position:absolute;background:transparent;height:20px;width:20px;/* border:1px solid red;*/top:100px;left:100px;}
div.outerBubble{position:absolute;background:#FFFFFF;border:none;height:40px;width:40px;opacity:0.5;top:-10px;left:-10px;-moz-border-radius:50px;-webkit-border-radius:50px;}
div.innerBubble{position:absolute;background:#000000;border:none;height:30px;width:30px;top:-5px;left:-5px;-moz-border-radius:50px;-webkit-border-radius:50px;}

/*Vizzuality*/
div#map a.vizzuality {position:absolute; left:70px; bottom:4px; width:75px; height:40px; background:url('/images/vizzuality.png') no-repeat 0 0; z-index:10; overflow:hidden; text-indent:-9999%; font-size:0; display:block; line-height:0;}

/*MAP CONTROLS*/
div#zoom_control {position:absolute; top:10px; left:9px; width:58px; height:259px; background:url('/images/zoom_control.png') no-repeat 0 0; z-index:10; overflow: hidden;
  text-indent:-9999%; font-size:0; display:block; line-height:0;}
div#zoom_control a.zoom_in {position:absolute; top:8px; left:12px; width:34px; height:32px; background:url('/images/zooms.png') no-repeat -34px 0; z-index:15;}
div#zoom_control a.zoom_out {position:absolute; bottom:16px; left:12px; width:34px; height:32px; background:url('/images/zooms.png') no-repeat 0 0; z-index:15;}
div#zoom_control a.zoom_in:hover {background-position:-34px -32px;}
div#zoom_control a.zoom_out:hover {background-position:0 -32px;}
div#zoom_control span.slider {position:absolute; top:53px; left:27px; height:157px; width:4px; }
div#zoom_control .ui-slider { position: relative; text-align: left;}
div#zoom_control .ui-slider .ui-slider-handle { position: absolute; z-index: 20; width:1.2em!important; height:1.2em!important; cursor: default;}
div#zoom_control .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
div#zoom_control .ui-slider-vertical { width: .8em; height: 100px; }
div#zoom_control .ui-slider-vertical .ui-slider-handle { left: -6px; margin-left: 0; margin-bottom: -.6em; height:16px!important; width:16px!important; background:url('/images/handle.png') no-repeat 0 0;}
div#zoom_control .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
div#zoom_control .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
div#zoom_control .ui-slider-vertical .ui-slider-range-max { top: 0; }
div#zoom_control .ui-slider-vertical .ui-state-focus {cursor:pointer;}
div#zoom_control .ui-slider-vertical .ui-state-active {cursor:pointer;}

/*MENU MAP/GRAPH*/
div#tab_menu {position:absolute; right:9px; top:10px; width:58px; height:87px; background:url('/images/tab.png') no-repeat 0 0; z-index:40; overflow: hidden; text-indent:-9999%;
  font-size:0; display:block; line-height:0;}
div#tab_menu a.map {float:left; width:32px; height:31px; margin:8px 0 0 13px; background:url('/images/map_icon.png') no-repeat -1px 0;}
div#tab_menu a.stats {float:left; width:32px; height:31px; margin:1px 0 0 13px; background:url('/images/stats_icon.png') no-repeat -1px 0;}
div#tab_menu a.selected {background-position: -1px -31px;}
div#tab_menu a.selected:hover {cursor:default; background-position:-1px -31px;}

/*BUBBLE MARKER*/
div.bubble {position:absolute; padding:0; margin:0;}
div.bubble img {width:100%; height:100%; padding:0; margin:0;}
div.bubble p {position:absolute; top:50%; width:100%; padding:0; margin:-6px 0 0 0; text-align:center; z-index:10; font:normal 11px 'Officina Bold'; color:#666666;}
div.bubble p.yellow {color:#FFAB38;}
div.bubble p.red {color:red;}
div.bubble:hover {cursor:pointer;}

/*INFOWINDOW*/
div.infowindow {position:absolute; width:254px; height:271px; background:url('/images/infowindow.png') 0 0 no-repeat; cursor:default; opacity:0;}
div.infowindow a.close_infowindow {position:absolute; right:4px; top:3px; width:18px; height:18px; cursor:pointer; background:url('/images/close_infowindow.png') no-repeat 0 0;}
div.infowindow a.close_infowindow:hover {background-position:0 -18px;}
div.infowindow div.top {display:inline-block; width:205px; height:115px; margin:19px 0 0 24px;}
div.infowindow div.top h2 {font:normal 17px "Officina Bold"; color:#000000; text-shadow: 0 1px white;}
div.infowindow div.top p.province {font:normal 12px "Officina Regular"; color:#999999; text-shadow:0 1px white;}
div.infowindow div.top div.stats {display:inline-block; width:205px; height:70px; margin:9px 0 0 0;}
div.infowindow div.top div.stats h4 {display:inline-block; width:100%; font:normal 12px "Officina Regular"; color:#333333;}
div.infowindow div.top div.stats div {width:100%; height:10px; margin:5px 0 0 0;}
div.infowindow div.top div.stats div.bar {float:left; width:auto; height:6px!important; margin:2px 5px 0 0; background:url('/images/left_bars.png') no-repeat 0 bottom;}
div.infowindow div.top div.stats div.bar span {float:left; width:20px; height:6px!important; margin:0 0 0 2px; background:url('/images/right_bars.png') no-repeat right bottom;}
div.infowindow div.top div.stats div p {padding:0 0 0 5px; font:normal 10px Arial; text-shadow:0 1px white; text-transform:uppercase;}
div.infowindow div.bottom {display:inline-block; width:205px; height:68px; margin:24px 0 0 24px;}
div.infowindow div.bottom p.info {font:normal 12px "Arial"; color:#666666;}
div.infowindow div.bottom p.info strong {font-weight:bold; color:#8B1F72;}
div.infowindow div.bottom div.chart {width:205px; height:33px; background:url('/images/tiny_graph_bkg.png') no-repeat 0 -1px;}
div.infowindow div.bottom img.sparklines {display:inline-block; width:205px; height:22px;}
div.infowindow div.bottom a.compare {float:right; width:67px; height:13px; margin:5px 0 0 0; padding:6px 0 7px; background:url('/images/compare_button.png') no-repeat 0 0; font:normal 13px "Officina Regular"; color:#333333; text-shadow:0 1px white; text-align:center;
  line-height:13px;}
div#infowindow div.bottom a.compare:hover {background-position:0 -26px; color:black; cursor:pointer;}

/*COMPAREWINDOW*/
div#comparewindow {position:absolute; display:none; top:50%; left:50%; margin:-200px 0 0 -178px; width:356px; cursor:default; z-index:100; cursor:move;}
div#comparewindow a.close_infowindow {position:absolute; right:14px; top:1px; width:18px; height:18px; cursor:pointer; background:url('/images/close_infowindow.png') no-repeat 0 0;}
div#comparewindow a.close_infowindow:hover {background-position:0 -18px;}
div#comparewindow div.top {display:inline-block; width:356px; height:244px; padding:25px 0 0 0;  background:url('/images/compare_top_bkg.png') no-repeat 0 0;}
div#comparewindow div h2 {margin:0 0 0 40px; font:normal 17px "Officina Bold"; color:#000000; text-shadow: 0 1px white;}
div#comparewindow div p.province {margin:0 0 0 40px; font:normal 12px "Officina Regular"; color:#999999; text-shadow:0 1px white;}
div#comparewindow div div.stats {display:inline-block; width:276px; height:75px; margin:9px 0 0 40px;}
div#comparewindow div div.stats h4 {display:inline-block; width:100%; font:normal 12px "Officina Regular"; color:#333333;}
div#comparewindow div div.stats div {width:100%; height:10px; margin:5px 0 0 0;}
div#comparewindow div div.stats div.bar {float:left; width:auto; height:6px!important; margin:2px 5px 0 0; background:url('/images/left_bars.png') no-repeat 0 bottom;}
div#comparewindow div div.stats div.bar span {float:left; width:20px; height:6px!important; margin:0 0 0 2px; background:url('/images/right_bars.png') no-repeat right bottom;}
div#comparewindow div div.stats div p {padding:0 0 0 5px; font:normal 10px Arial; text-shadow:0 1px white; text-transform:uppercase;}
div#comparewindow div.top div.compare_graph {position:relative; width:356px; height:110px; margin:10px 0 0;}
div#comparewindow div.top div.compare_graph a {position:absolute; top:46px; width:24px; height:24px; background:url('/images/compare_arrows.png') no-repeat 0 0; overflow: hidden; text-indent:-9999%; font-size:0; display:block; line-height:0;}
div#comparewindow div.top div.compare_graph a.left {position:absolute; left:11px; width:24px; height:24px; background-position: 0 0;}
div#comparewindow div.top div.compare_graph a.left:hover {background-position:0 -24px;}
div#comparewindow div.top div.compare_graph a.right {position:absolute; right:11px; width:24px; height:24px; background-position:right 0;}
div#comparewindow div.top div.compare_graph a.right:hover {background-position:right -24px;}
div#comparewindow div.bottom {display:inline-block; width:356px; padding:15px 0 28px 0; background:url('/images/compare_bottom_bkg.png') no-repeat 0 bottom;}
div#comparewindow div.bottom.search div.search {display:block;}
div#comparewindow div.bottom.search div.region {display:none;}
div#comparewindow div.bottom.region div.search {display:none;}
div#comparewindow div.bottom.region div.region {display:block;}
div#comparewindow div.bottom div.search h4 {margin:0 0 0 40px; font:normal 15px "Officina Regular"; color:#666666; text-shadow:0 1px white;}
div#comparewindow div.bottom form {position:relative; width:276px; height:28px; margin:5px 0 0 40px;}
div#comparewindow div.bottom form input.text {width:276px; height:13px; padding:8px 7px 7px; background:url('/images/compare_search_bkg.png') no-repeat 0 0; border:none; font:normal 13px "Officina Regular"; line-height:13px;}
div#comparewindow div.bottom form input.submit {position:absolute; top:7px; right:8px; width:13px; height:13px; display:block; border:none; background:url('/images/tiny_search_len.png') no-repeat 0 0;}
div#comparewindow div.bottom form input.submit:hover {background-position:0 -13px; cursor:pointer;}
div#comparewindow div.bottom p.refer {display:none; width:277px; margin:0 0 0 40px; padding:4px 0 3px 0; text-align:right; font:normal 13px "Officina Regular"; color:#666666;}
div#comparewindow div.bottom p.refer a {width:auto; color:#8C1F74;}
div#comparewindow div.bottom p.refer a:hover {color:#5C134C;}


/*START WINDOW*/
div#appInfo {position:absolute; display:none; width:775px; height:514px; left:50%; top:50%; margin:-257px 0 0 -385px; z-index:10; background:url('/images/info_bkg.png') no-repeat 0 0;}
div#appInfo a.close_info {position:absolute; right:3px; top:1px; width:18px; height:18px; cursor:pointer; background:url('/images/close_infowindow.png') no-repeat 0 0;}
div#appInfo a.close_info:hover {background-position:0 -18px;}
div#appInfo div.options {position:relative; float:left; width:190px; height:450px; margin:8px 0 0 12px; padding:20px 22px 20px 21px;}
div#appInfo div.options span.arrow {position:absolute; right:0; top:89px; width:9px; height:17px; background:url('/images/welcome_arrow.jpg') no-repeat 0 0;}
div#appInfo div.options h3 {font:normal 13px "Officina Regular"; color:#BBBBBB; text-transform:uppercase;}
div#appInfo div.options h4 {width:100%; margin:20px 0 0 0; padding:0 0 7px 0; font:normal 17px "Officina Regular"; color:#999999; border-bottom:1px solid #CCCCCC;}
div#appInfo div.options ul {width:100%; padding:10px 0 0 0;}
div#appInfo div.options ul li {width:100%; padding:0 0 8px;}
div#appInfo div.options ul li a {font:normal 13px Arial; color:#8B1F73; text-decoration:none;}
div#appInfo div.options ul li a:hover {color:#333333;}
div#appInfo div.options ul li.selected a {color:#333333;}
div#appInfo div.options ul li.selected a:hover {cursor:default;}
div#appInfo div.explain {float:left; width:484px; height:413px; margin:8px 0 0; padding:57px 17px 20px;}
div#appInfo div.explain h1 {padding:0 0 5px 0; font:normal 17px "Officina Bold";}
div#appInfo div.explain p {padding:10px 0 0 0; font:normal 13px Arial; color:#666666;}


/*GRAPH*/
/*Legend*/
div.graph_legend {position:absolute; top:20px; left:20px; z-index:10;}
div.graph_legend h2 {font:normal 21px "Officina Bold"; color:#333333; text-shadow:0 1px white; line-height:21px;}
div.graph_legend h2 sup {font:normal 13px "Officina Regular";}
div.graph_legend p.autonomy {padding:5px 0 10px 0;}
div.graph_legend p.autonomy a {text-decoration:underline; font:normal 15px "Officina Regular"; color:#999999; text-shadow:0 1px white;}
div.graph_legend p.autonomy a:hover {color:#666666;}
div.graph_legend div.partido.otros p {text-decoration:underline;}



/*political bars*/
div.stats div {width:100%; height:10px; margin:5px 0 0 0;}
div.stats div.bar {float:left; width:auto; height:6px!important; margin:2px 5px 0 0; background:url('/images/left_bars.png') no-repeat 0 bottom;}
div.stats div.bar span {float:left; width:20px; height:6px!important; margin:0 0 0 2px; background:url('/images/right_bars.png') no-repeat right bottom;}
div.stats div p {padding:0 0 0 5px; font:normal 10px Arial; text-shadow:0 1px white; text-transform:uppercase;}
/*psoe*/
div.stats div.partido.psoe div.bar {background-position:0 0!important;}
div.stats div.partido.psoe div.bar span {background-position:right 0!important;}
div.stats div.partido.psoe p {color:red;}
/*pp*/
div div.stats div.partido.pp div.bar {background-position:0 -6px!important;}
div div.stats div.partido.pp div.bar span {background-position:right -6px!important;}
div div.stats div.partido.pp p {color:#00B2EB;}
/*ui*/
div div.stats div.partido.ui div.bar {background-position:0 -12px!important;}
div div.stats div.partido.iu div.bar span {background-position:right -12px!important}
div div.stats div.partido.iu p {color:#009933;}
/*otros*/
div div.stats div.partido.otros div.bar {background-position:0 bottom!important;}
div div.stats div.partido.otros div.bar span {background-position:right bottom!important;}
div div.stats div.partido.otros p {color:#999999;}
/*par1*/
div div.stats div.partido.par1 div.bar {background-position:0 -36px!important;}
div div.stats div.partido.par1 div.bar span {background-position:right -36px!important;}
div div.stats div.partido.par1 p {color:#990033;}
/*par2*/
div div.stats div.partido.par2 div.bar {background-position:0 -24px!important;}
div div.stats div.partido.par2 div.bar span {background-position:right -24px!important;}
div div.stats div.partido.par2 p {color:orange;}
/*par3*/
div div.stats div.partido.par3 div.bar {background-position:0 -30px!important;}
div div.stats div.partido.par3 div.bar span {background-position:right -30px!important}
div div.stats div.partido.par3 p {color:blue;}
/*end bars*/
