html {height:auto;}
body {height:auto; background:#2D3451;}

/*HEADER*/
div#header {position:absolute; left:0; right:0; top:0; height:154px; background:url('/images/header_bkg.png') repeat-x 0 0; z-index:10;}
div#header span.end_left {position:absolute; left:0; top:0; width:10px; height:137px; background:url('/images/end_left.jpg') no-repeat 0 0;}
div#header span.end_right {position:absolute; right:0; top:0; width:10px; height:137px; background:url('/images/end_right.jpg') no-repeat 0 0;}

div#map {position:absolute; left:0; right:0; top:137px; bottom:0; width:100%; background:#9ab5cc;}
div#map div#peninsula {float:left; width:100%; height:100%; z-index:1;}
div#map div#canary_island {position:absolute; right:0; bottom:0; width:300px; height:160px; border-top:1px solid black; border-left:1px solid black; border-right:none; z-index:2;}
div#map div#canary_island.left {left:0; right:none; border-left:none; border-right:1px solid black;}

/*REGION MARKER*/
div.region:hover {cursor:pointer;}

/*INFOWINDOW*/
div#infowindow {position:absolute; width:254px; height:271px; background:url('/images/infowindow.png') 0 0 no-repeat; cursor:default; opacity:0;}
div#infowindow a.close_infowindow {position:absolute; right:4px; top:3px; width:18px; height:18px; cursor:pointer; background:url('/images/close_infowindow.png') no-repeat 0 0;}
div#infowindow a.close_infowindow:hover {background-position:0 -18px;}
div#infowindow div.top {display:inline-block; width:205px; height:115px; margin:19px 0 0 24px;}
div#infowindow div.top h2 {font:normal 17px "Officina Bold"; color:#000000; text-shadow: 0 1px white;}
div#infowindow div.top p.province {font:normal 12px "Officina Regular"; color:#999999; text-shadow:0 1px white;}
div#infowindow div.top div.stats {display:inline-block; width:205px; height:70px; margin:9px 0 0 0;}
div#infowindow div.top div.stats h4 {display:inline-block; width:100%; font:normal 12px "Officina Regular"; color:#333333;}
div#infowindow div.top div.stats div {width:100%; height:10px; margin:5px 0 0 0;}
div#infowindow div.top div.stats div.bar {float:left; width:auto; height:6px!important; margin:2px 5px 0 0; background:url('/images/left_bars.png') no-repeat 0 bottom;}
div#infowindow div.top div.stats div.bar span {float:left; width:20px; height:6px!important; margin:0 0 0 2px; background:url('/images/right_bars.png') no-repeat right bottom;}
div#infowindow div.top div.stats div p {padding:0 0 0 5px; font:normal 10px Arial; text-shadow:0 1px white; text-transform:uppercase;}
/*psoe*/
div#infowindow div.top div.stats div.psoe div.bar {background-position:0 0;}
div#infowindow div.top div.stats div.psoe div.bar span {background-position:right 0;}
div#infowindow div.top div.stats div.psoe p {color:red;}
/*pp*/
div#infowindow div.top div.stats div.pp div.bar {background-position:0 -6px;}
div#infowindow div.top div.stats div.pp div.bar span {background-position:right -6px;}
div#infowindow div.top div.stats div.pp p {color:#00B2EB;}
/*ui*/
div#infowindow div.top div.stats div.iu div.bar {background-position:0 -12px;}
div#infowindow div.top div.stats div.iu div.bar span {background-position:right -12px}
div#infowindow div.top div.stats div.iu p {color:#009933;}
/*otros*/
div#infowindow div.top div.stats div.otros div.bar {background-position:0 bottom;}
div#infowindow div.top div.stats div.otros div.bar span {background-position:right bottom;}
div#infowindow div.top div.stats div.otros p {color:#999999;}
div#infowindow div.bottom {display:inline-block; width:205px; height:68px; margin:24px 0 0 24px;}
div#infowindow div.bottom p.info {font:normal 12px "Arial"; color:#666666;}
div#infowindow div.bottom p.info a {font-weight:bold; color:#8B1F72; text-decoration:none;}
div#infowindow div.bottom p.info a:hover {text-decoration:underline;}
div#infowindow div.bottom img.sparklines {display:inline-block; width:205px; height:20px; margin:3px 0 0 0;}
div#infowindow div.bottom a.compare {display:inline-block; width:67px; height:13px; margin:10px 0 0 0; padding:6px 0 7px; background:url('/images/compare_button.png') no-repeat 0 0; font:normal 13px "Officina Regular"; color:#333333; text-shadow:0 1px white; text-align:center;
  line-height:13px;}
div#infowindow div.bottom a.compare:hover {background-position:0 -26px; color:black; cursor:pointer;}


